/* CSS Document */
td {
    text-align: center;
	background-color: white;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light.eot');
    src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light.woff2') format('woff2'),
         url('../fonts/roboto-light.woff') format('woff'),
         url('../fonts/roboto-light.ttf') format('truetype'),
         url('../fonts/roboto-light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold.eot');
    src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto-bold.woff') format('woff'),
         url('../fonts/roboto-bold.ttf') format('truetype'),
         url('../fonts/roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium.eot');
    src: url('../fonts/roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium.woff2') format('woff2'),
         url('../fonts/roboto-medium.woff') format('woff'),
         url('../fonts/roboto-medium.ttf') format('truetype'),
         url('../fonts/roboto-medium.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular.ttf') format('truetype'),
         url('../fonts/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin_0-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{background-color: #ffffff;}

.navbar-inverse{background-color: #fff;border-color:#fff; padding:14px 0px 20px;}
.cb{clear: both;}
body .affix{padding: 0px; -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear; box-shadow: 2px 2px 10px #eee; }
.affix-top {
    -webkit-transition:padding 0.5s linear;
  -moz-transition:padding 0.5s linear;  
  -o-transition:padding 0.5s linear;         
  transition:padding 0.5s linear;  
}
#TopRightnav .nav{float: right; margin-top: 7px;}
#TopRightnav .nav li a{color: #4e5761;font-family: 'robotoregular'; font-size: 16px;padding: 12px 4px; margin-left: 26px;}
#TopRightnav .nav li a:hover{padding: 12px 4px;    transition: all 0.6s ease 0s
   }
.snip1135 a:before,
.snip1135 a:after {  position: absolute;  -webkit-transition: all 0.35s ease;  transition: all 0.35s ease;}
.snip1135 a:before {
  bottom: 0;  display: block;  height: 2px;  width: 0%;  content: "";
  background-color: #26298f;
}
.snip1135 a:after {
  left: 0;  top: 0;  padding: 0.5em 0;  position: absolute;  content: attr(data-hover);  color: #ffffff;  white-space: nowrap;  max-width: 0%;  overflow: hidden;}
.snip1135 a:hover:before,
.snip1135 .current a:before {
  opacity: 1;  width: 100%;}
.snip1135 a:hover:after,
.snip1135 .current a:after {
  max-width: 100%;}
   
.navbar-brand{padding: 5px 15px;}
#TopRightnav .demoBtn{float: right; margin: 12px 0px 0px 20px;}
#TopRightnav .demoBtn a{background-color: #088dc0; padding: 12px 40px; color: #fff; border-radius: 24px; text-transform: uppercase;}
#TopRightnav .demoBtn a:hover{text-decoration: none;background-color: #f37401;}
#logoSection{padding: 24px 0px; box-shadow:1px 2px 6px #e7eaee;background-color: #fff;}

.secSpace{padding: 0px 0px 70px;}
.titleTxt{font-family: 'robotolight'; text-align: center;font-size: 48px; color: #424e5b; line-height: 42px;}
.aboutContent{font-family: 'robotolight';}
.aboutContent h3{font-size: 22px; line-height: 36px; padding: 0 5%;text-align: center;}
.aboutContent p.lead{font-size: 16px; line-height: 28px;font-family: 'robotoregular';}
.featurette{padding-top: 22px;}
.featurette img.featurette-image{padding-left: 64px;}
#CommunicationSection .featurette img.featurette-image{padding-right: 64px;}
.blueDivider{height: 2px; width: 110px; margin:24px auto 28px;background-color: #26298f;}
#colsWrap{text-align: center; margin: 50px auto 0px; width: 88%;}
#colsWrap div p{font-family: 'robotomedium'; font-size: 22px; padding:34px 0px 0px 0px;}
#CommunicationSection, #FAQSection{background-color: #f6f4f4;}
#aboutSection, #CommunicationSection, #DeploymentSection, #FAQSection, #contactSection{padding-top: 70px;}
.featurette .scrollBox{max-height: 300px; overflow: auto;}

/* Carousel Styles */
.header-text .container{position: relative;}
.testimonialTxt{ position: absolute; top:0px; padding-top: 12%; width: 62%; color: #3f3f3f;}
.testimonialTxt p{font-family: 'robotothin'; font-size: 24px; line-height: 44px;font-style: italic;}
.testimonialTxt h3{font-family: 'robotoregular'; font-size: 20px; text-transform: uppercase; padding: 28px 0px;}
.testimonialTxt h3 span{font-family: 'robotolight'; font-size: 16px; display: block; text-transform: none; padding-top: 12px;}
.header-text{position: absolute; top:0px; width: 100%;}
#testimonialSection .carousel-indicators{bottom: 68px; text-align: left;}
.carousel-indicators .active {background-color: #8e91e7; height: 9px; width: 9px;margin: 0 0px 0px 10px;}

.carousel-inner img {width: 100%;max-height: 651px}

.carousel-indicators li{border: none; background-color: #afa9a9; height: 9px; width: 9px; margin: 0 0px 0px 10px; border-radius: 14px;}

.carousel-control.right,.carousel-control.left{display: none;}

#FAQSection .panel-group{margin-top: 50px;}
#FAQSection .panel-group .panel{font-family: 'robotoregular'; font-size: 16px; border: none; color: #415062;}
#FAQSection .panel-title{font-size: 18px;}
.panel-default>.panel-heading{color: #fff;
    background-color: #26298f;
    border-color: #26298f;padding: 20px;border-radius:4px; position: relative;}
.panel-default>.panel-heading:hover{background-color: #3538a8;}
.panel-default .right-arrow{font-family: 'robotolight'; font-size: 50px; position: absolute; right: 18px; top: 1px;}
.panel-default>.panel-heading+.panel-collapse>.panel-body{border: 1px solid #26298f; border-top: none;border-radius:4px; margin-top: -3px;}
.panel-body {padding: 24px 15px 15px;}
#contactSection{padding-top: 70px;background-color: #26298f; padding-bottom: 34px;}
.ContactWrap{ text-align: center}
#contactSection .titleTxt{color: #fff;}
#contactSection h3{color: #fff;}
#contactSection .blueDivider{background-color: #fff;}
.addressWrap{width: 100%;font-family: 'robotolight';font-size: 48px; color: #fff; padding: 40px 52px;}
.addressWrap h2{font-size: 34px; margin: 0px;}
.addressWrap .ofcAddress span{font-size: 32px;}
.addressWrap .ofcAddress{font-size: 24px; display: inline-block;
 border-bottom: 1px solid #686ab1; padding-right: 24px; margin-left: 25px; margin-right: 25px;
    margin-top: 50px;
    padding-bottom: 10px;}

footer{color: #4e5761; margin: 20px 0px;}
.botlink a{color: #4e5761; padding-right:24px;}
.copyrite a{padding-left: 20px;}
#myCarousel .carousel-caption{bottom:50%; top:40%;font-family: 'robotolight'; font-size: 20px;}
#myCarousel .carousel-caption h2{font-size: 43px; padding: 5px 0px 56px;}
#myCarousel .carousel-caption a{font-family: 'robotomedium'; font-size: 22px;background-color: #26298f; color: #fff; padding: 20px 96px; border-radius: 44px; text-decoration: none;}
#myCarousel .carousel-caption a:hover{background-color: #3538a8;}
.navbar-inverse .navbar-toggle{border-color:#26298f;}
.navbar-toggle{background-color: #26298f;}
.clintsLogo{text-align: center;}
.clintsLogo img{max-width: 100%; padding: 0 1%;}
.panel-body ul li:first-child{display: block; margin-left: -18px; padding-bottom: 10px;}
.panel .right-arrow{cursor: pointer;}
.panel .panel-title .more-less{float: right;}
.zoomani img{ display:inline-block;
    border:0;
   background: transparent;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.zoomani img:hover
{background: transparent;
    
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.panel-heading a{text-decoration: none;}
.bannerblkBg{width: 100%; height: 651px;}
.testimonialImgBg{background: url('../img/testimonialBg.jpg') no-repeat center center;height: 651px;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

.testimonialTxtPadding{padding-top: 22%;}


.contactInfo {
    font-size: 20px;
    font-family: 'robotolight';
    margin-bottom: 18px;
    text-align: left; display: inline-block; padding-right: 40px;}
.contactInfo img {
    margin-right: 18px;
    float: left;
}
.contactInfo span {
    padding-top: 16px;
    float: left;
}
.contactInfo span a{color: #fff;}

.carousel-inner>.item{
         opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
    
}
    .carousel-inner>.item.active {
    position: relative;
  
  
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

/*.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right{
        left: 0;
         opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}*/
.textQuteimg{width: 1170px; margin: auto;position: relative;}
.abc{background: url('../img/qut.png') no-repeat top left; height: 85px; width: 63px; position: absolute; top:0px; left: 0px;}
.carousel-inner>.item {
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
   
@media only screen and (max-width: 1370px) {
/*.container {width: 1128px;}*/
.addressWrap .ofcAddress{margin-right: 6%;}
#testimonialSection .carousel-indicators{bottom: 40px; left: 38%;}
}
.waterMark{position: absolute; bottom: 10px; right: 10px; z-index: 9;}
@media only screen and (max-width: 1024px) {
.navbar-brand > img{width: 220px;}
.featurette img.featurette-image{width: 100%; padding-bottom: 24px;padding-left:0px;}
.featurette .scrollBox{width: 100%;}
.testimonialTxt{background-size: 45px;top: 11%;}
.testimonialTxt p{font-size: 24px; line-height: 30px;}
.testimonialTxt h3{padding: 0px; font-size: 16px;}
.testimonialTxt h3 span{padding-top: 5px; font-size: 14px;}
#testimonialSection .carousel-indicators{bottom: 4px; left: 32%;}
.addressWrap .ofcAddress{margin-top: 24px; font-size: 18px;}
.addressWrap .ofcAddress span{font-size: 24px;}
#myCarousel .carousel-caption{top:40%;}
#CommunicationSection .featurette img.featurette-image{padding-right: 0px;}
#colsWrap div p{padding:34px 0px 50px 0px;}
}
@media only screen and (max-width: 767px) {
.navbar-brand > img{width: 220px;}
#myCarousel .carousel-caption a{padding: 15px 48px; font-size: 18px;}
#myCarousel .carousel-caption h2 {
    font-size: 28px;
    padding: 5px 0px 40px;}
#myCarousel .carousel-caption{font-size: 16px; top:24%;}
.featurette img.featurette-image{padding-left: 0px; padding-bottom: 20px;}
#CommunicationSection .featurette img.featurette-image{padding-right: 0px;}
.titleTxt{line-height: 50px; font-size: 42px;}
.ContactWrap{height: auto;}
.mapWrap, .addressWrap{width: 100%;}
.botlink, .copyrite{width: 100%; text-align: center; padding: 5px 0px; line-height: 26px;}
.nav>li{float: left; width: 100%;}
.testimonialTxt{width: 90%;}
.testimonialTxt p{font-size: 20px; line-height: 26px;}

}
@media only screen and (max-width: 640px){#myCarousel .carousel-caption{font-size: 16px; top:40%;}}